<div class="container">
    <h3 mat-dialog-title >{{data.backlogItemName}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-select placeholder="Story point value" [(ngModel)]="storyPoint.storyPointValue">
                <mat-option [value]="0">0</mat-option>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2 </mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="5">5</mat-option>
                <mat-option [value]="8">8</mat-option>
                <mat-option [value]="13">13</mat-option>
                <mat-option [value]="21">21</mat-option>
                <mat-option [value]="34">34</mat-option>
              </mat-select>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" 
            *ngIf="flagPoint==1"
            [disabled]="!formControl.valid" (click)="addStoryPoint()">
                Save
            </button>
            <button mat-button type="submit" 
            *ngIf="flagPoint==2"
            [disabled]="!formControl.valid" (click)="editStoryPoint()" >
                Save
            </button>
            <button mat-button type="submit" 
            *ngIf="flagPoint==3"
            [disabled]="!formControl.valid" (click)="deleteStoryPoint()">
                Delete
            </button>
            <button mat-button (click)="cancel()">
                Cancel
            </button>
        </div>


    </form>

</div>


