<div class="container">
    <h3 mat-dialog-title >{{data.backlogItemName}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <textarea matInput placeholder="Name" [(ngModel)]="criteria.acceptanceCriteriaText" required [disabled]="flagCriteria == 3">
                </textarea>
                   
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" 
            *ngIf="flagCriteria==1"
            [disabled]="!formControl.valid" (click)="addCriteria()">
                Save
            </button>
            <button mat-button type="submit" 
            *ngIf="flagCriteria==2"
            [disabled]="!formControl.valid" (click)="editCriteria()" >
                Save
            </button>
            <button mat-button type="submit" 
            *ngIf="flagCriteria==3"
            [disabled]="!formControl.valid" (click)="deleteCriteria()">
                Delete
            </button>
            <button mat-button (click)="cancel()">
                Cancel
            </button>
        </div>


    </form>

</div>
