<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">FAQ section</h4>
          <p class="card-category">FAQ section provides answers to commonly asked questions about agile project management, helping users navigate through key concepts and practices.</p>
        </div>
          <section class="container my-5" id="maincontent">
            <section id="accordion">
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-1" aria-expanded="false" data-toggle="collapse" href="#faq-1" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How do I create a new project in the software?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-1">
                <div class="card card-body border-0 p-0">
                  <p>To create a new project, navigate to the dashboard and click on the "New Project" button. Then, follow the prompts to fill in project details.</p>
                </div>
              </div>
        
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-2" aria-expanded="false" data-toggle="collapse" href="#faq-2" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How can I add team members to a project?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-2">
                <div class="card card-body border-0 p-0">
                  <p>To add team members, go to the project settings and select the "Team Members" tab. From there, you can invite team members by entering their name.</p>
                </div>
              </div>
        
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-4" aria-expanded="false" data-toggle="collapse" href="#faq-4" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    Is there a mobile app available for the software?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-4">
                <div class="card card-body border-0 p-0">
                  <p>No, there isn't a mobile app.</p>
                </div>
              </div>

        
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-7" aria-expanded="false" data-toggle="collapse" href="#faq-7" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How can I generate reports for my project?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-7">
                <div class="card card-body border-0 p-0">
                  <p>Currently, this feature is not available. However, it will be one of the future functionalities that we will enable for our users. Stay tuned!</p>
                </div>
              </div>
        
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-8" aria-expanded="false" data-toggle="collapse" href="#faq-8" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    Is there a free trial available for the software?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-8">
                <div class="card card-body border-0 p-0">
                  <p>Yes, there is a free trial available for new users. You can sign up for it on our website.</p>
                </div>
              </div>
        
              <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-9" aria-expanded="false" data-toggle="collapse" href="#faq-9" role="button">
                <div class="position-relative">
                  <h2 class="h4 m-0 pr-3">
                    How can I get technical support?
                  </h2>
                  <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
                    <i class="fa fa-plus"></i>
                  </div>
                </div>
              </a>
              <div class="collapse" id="faq-9">
                <div class="card card-body border-0 p-0">
                  <p>You can get technical support by contacting our support team via email.</p>
                </div>
              </div>

        
            </section>
          </section>
          <div class="card-header card-header-danger">
            <h4 class="card-title">Contact Us</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name" class="bmd-label-floating text-danger">Your Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email" class="bmd-label-floating text-danger">Your Email</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="message" class="bmd-label-floating text-danger">Your Message</label>
                <textarea class="form-control" id="message" rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Send Message</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>