    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
            <div class="card-header" style="position: relative;">
                <h1 class="card-title" style="margin-bottom: 0; font-size: 24px; text-align: center;"><b>Welcome to AgilIs!</b></h1>
                <i id="popupTrigger" class="material-icons" style="position: absolute; top: 10px; right: 10px; color: #E63E3A; cursor: pointer;" (click)="showNotification('top','center')">more</i>
              </div>
            <div style="float: right;" class="card">
                <div class="card-header card-header-tabs card-header-danger">
                    <h4 class="card-title">AGILIS</h4>
                    <p class="card-category">Efficiently manage projects using Agile methodologies</p>
                </div>
                <div class="card-body">
                    <div class="text-container">
                        <p style="text-align: justify;"> <b>Agilis is an innovative project management software designed for agile teams. With its intuitive interface and powerful features, Agilis streamlines project workflows, fosters collaboration among team members, and enables seamless adaptation to changing project requirements. From sprint planning to retrospective meetings, Agilis empowers teams to deliver high-quality results with speed and efficiency, driving continuous improvement and delivering value to stakeholders.</b></p>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;"> 
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">store</i>
                                </div>
                                <p class="card-category">Agile Methodology</p>
                                <h3 class="card-title">$34,245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> Last 24 Hours
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon"> 
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <p class="card-category">Scrum Framework</p>
                                <h3 class="card-title">75</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Tracked from Github
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <p class="card-category">Kanban Boards</p>
                                <h3 class="card-title">+245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-danger">
                                <h4 class="card-title">Agile Project Management</h4>
                                <p class="card-category">Efficiently manage projects using Agile methodologies</p>
                            </div>
                            <div class="card-body">
                                <div style="float: left; margin-right: 20px;">
                                    <img src="https://inzint.com/wp-content/uploads/2023/03/1632378745356.png" alt="Agilis Image" style="display: block;">
                                </div>
                                <div style="overflow: hidden; text-align: justify;">
                                    <p style="text-align: justify;">Agile project management is an iterative approach to managing software development projects that focuses on continuous releases and customer feedback. It emphasizes flexibility, adaptability, and collaboration among team members. Agile frameworks such as Scrum, Kanban, and Lean enable teams to deliver high-quality products more quickly and efficiently.</p>
                                    <p style="text-align: justify;">By breaking down complex projects into smaller, manageable tasks and prioritizing customer requirements, Agile teams can respond to changes in the project scope more effectively and deliver value to customers faster. Agile methodologies promote transparency, accountability, and teamwork, empowering teams to self-organize and make data-driven decisions.</p>
                                    <p style="text-align: justify;">Key principles of Agile project management include customer satisfaction, iterative development, incremental delivery, and continuous improvement. By embracing Agile practices and principles, organizations can enhance productivity, foster innovation, and achieve better business outcomes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

  