<div class="container" style="margin-top:25px ;">
  <div class="row">
      <div class="col-md-4" *ngFor="let user of users">
          <div class="card card-profile">
              <div class="card-avatar">
                  <a href="javascript:void(0)">
                      <img class="img" src="./assets/img/tim_80x80.png" />
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-gray" *ngIf="user.role == 0" >Admin</h6>
                  <h6 class="card-category text-gray" *ngIf="user.role == 1" >Product Owner</h6>
                  <h6 class="card-category text-gray" *ngIf="user.role == 2" >Scrum Master</h6>
                  <h6 class="card-category text-gray" *ngIf="user.role == 3" >Developer</h6>
                  <h6 class="card-category text-gray" *ngIf="user.role == 4" >Stakeholder</h6>
                  <h4 class="card-title">{{user.name}} {{user.surname}}</h4>
                  <h4 class="card-title">{{user.username}}</h4>
              </div>
          </div>
      </div>
  </div>
</div>


